@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto&display=swap');

:root {
    --primary-color: #fcdcd4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 3px;
}

img {
    max-width: 100%;
}

#container {
    width: 100vw;
    overflow: hidden;
    max-width: 100%;
}

h1 {
    margin: 5%;
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin: 5%;
}

p {
    font-size: 1rem;
}

.btn {
    padding: 1.5%;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9rem;
    transition: ease 0.2s;
}

.btn:hover {
    box-shadow: 0 0 10px var(--primary-color);;
    cursor: pointer;
}

.btn:active {
    transform: translateY(3px);
}

.btn:focus {
    outline: none;
}

a {
    text-decoration: none;
}

header {
    position: relative;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-image: url(img/cover/fooldal_01.jpg);
    background-position: center;
    background-size: cover;
}


#title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title img {
    transform: scale(2);
}

main {
    margin: 10%;
    text-align: center;
}

#gallery {
    margin: 10% 0;
}

#thumbnail {
    display: flex;
    width: 100%;
    margin: auto;
}

#thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin: auto;
    padding: 1%;
}

#rows {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#rows > div {
    width: 33%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
}

#rows > div > img {
    border-radius: 15px;
    padding: 2%;
}

#back {
    position: relative;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-image: url(img/cover/fooldal_03.jpg);
    background-position: center;
    background-size: cover;
}

#back a {
    margin: auto;
}

@media screen and (max-width: 992px) {
    
    main {
        margin: 5%;
    }
}

@media screen and (max-width: 600px) {

    main {
        margin: 10%;
    }

    #rows {
        flex-direction: column;
    }
    
    #rows > div {
        width: 100%;
    }

    #description p {
        text-align: justify;
    }
}